/* -------------==========-------------- (mrx) fonts (start) -------------==========-------------- */
@font-face {
  font-family: "Default-2";
  src: url("/assets/Fonts/IRANSansWeb.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "P-Numbers";
  src: url("/assets/Fonts/Salamat.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.Toastify__toast-body>div:last-child {
  font-family: 'Default-2' !important;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container--rtl {
    padding: 10px 20px !important;
  }

  .Toastify__toast-theme--light {
    border-radius: 10px !important;
    overflow: hidden !important;
  }
}

:root {
  --rsbs-content-opacity: #064B73;
  --rsbs-content-opacity-btn: #064B73;
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #ffff;
  --rsbs-handle-bg: hsla(0, 0%, 0%, 0.14);
  --rsbs-max-w: auto;
  --rsbs-ml: env(safe-area-inset-left);
  --rsbs-mr: env(safe-area-inset-right);
  --rsbs-overlay-rounded: 20px;
}

.background {
  background: linear-gradient(180deg, #066C73 0%, rgba(6, 75, 115, 0) 100%);
  /* max-width: 460px; */
  /* margin: auto !important; */
  /* border-radius: 20px; */
  /* overflow: hidden; */
  /* overflow-y: scroll !important; */
  /* border: solid 5px #ffff !important; */
}

.background::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.background {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.p-number {
  font-family: "P-Numbers" !important;
  font-size: 18px !important;
}

.in-up-1-sec {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.in-up-2-sec {
  animation: fadeInAnimation ease 10s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    margin-bottom: -100px;
  }

  100% {
    margin-bottom: 0px;
  }
}

.mainInfoCard {
  font-family: "Default-2" !important;
  width: 100% !important;
}

.diemend-menu-mobile {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translatey(-10px);
    -moz-transform: translatey(-10px);
    -o-transform: translatey(-10px);
    transform: translatey(-10px);
  }

  to {
    opacity: 1;
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    -o-transform: translatey(0);
    transform: translatey(0);
  }
}

@-moz-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translatey(-10px);
    -moz-transform: translatey(-10px);
    -o-transform: translatey(-10px);
    transform: translatey(-10px);
  }

  to {
    opacity: 1;
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    -o-transform: translatey(0);
    transform: translatey(0);
  }
}

@keyframes fadeInDown {
  from {
    -webkit-transform: translatey(60px);
    -moz-transform: translatey(60px);
    -o-transform: translatey(60px);
    transform: translatey(60px);
  }

  to {
    -webkit-transform: translatey(0);
    -moz-transform: translatey(0);
    -o-transform: translatey(0);
    transform: translatey(0);
  }
}

.in-down {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
}


/** fadeInLeft **/

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
  }

  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}

@-moz-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
  }

  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translatex(-100px);
    -moz-transform: translatex(-100px);
    -o-transform: translatex(-100px);
    transform: translatex(-100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}

.in-left {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  -o-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -o-animation-duration: 0.4s;
  animation-delay: 0.4s;
}

.cssanimation, .cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInBottom {
  animation-name: fadeInBottom
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1
  }
}

.vi__wrapper {
  direction: ltr !important;
}

.vi {
  border: unset;
}

.character {
  border: none;
  font-size: 20px;
  border-radius: 8px;
  height: 41px;

  /* light theme */
  color: #F2F2F2;
  background-color: #f6f5fa;
  box-shadow: 0 2px 0 #ffffff;
  border: solid 1px #F2F2F2;
  padding: -10px 0px !important;
  line-height: 40px !important;

  /* dark theme */
  color: black;
  background-color: #fff;
  font-size: 25px;
  font-family: 'P-Numbers';
  outline-color: var(--rsbs-content-opacity-btn) !important;
}

/* -------------==========-------------- (mrx) fonts (end) -------------==========-------------- */





/* ----------------------------------- (mrx) components styles (start) ----------------------------------- */

/* Main (start) */

body {
  background: #074c73;
  font-family: "Default" !important;
  margin: 0px !important;
  position: absolute;
  width: 100%;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  /* background-color: #252525 !important; */
}

/* ( end ) */

/* White Pup up card (Start) */
.CardPupUpTitle {
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  color: #000000;
}

.CardPupUpDes {
  margin: 0px;
  width: 90%;
  padding-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  text-align: right;
  color: rgba(0, 0, 0, 0.47);
}

/* White Pup up card (End) */

/* Input (Start) */

.mainInput {
  position: relative;
  margin-bottom: 8px !important;
}

.InputTextlable {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #242328;
  margin-bottom: -5px;
}

.InputText {
  margin-top: 20px;
  font-family: 'Default-2' !important;
  border: unset;
  font-size: 13px !important;
  outline: transparent;
  background: transparent;
  border-bottom: solid 1px #EEF0F3;
  padding-right: 16px;
  padding-bottom: 8px;
  font-family: 'Default';
  padding-left: 40px;
}

.InputText::placeholder {
  font-family: 'Default-2' !important;
  font-size: 13px !important;
  color: #9da7af;
}

.InputText:disabled {
  opacity: 0.7 !important;
}

.InputErrorMessage {
  position: absolute;
  bottom: -18px;
  font-size: 9px;
  color: #E2761A;
  padding-right: 16px;
}

.InputSuccessMessage {
  position: absolute;
  bottom: -23px;
  font-size: 11px;
  color: #E2761A;
  padding-right: 16px;
}

.Error_input {
  border-bottom: solid 1px #E2761A !important;
  color: #E2761A !important;
}

.True_input {
  border-bottom: solid 1px #FEA050 !important;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.InputText:focus {
  outline: transparent;
}

.InputDote {
  cursor: pointer;
  width: 5.19px;
  height: 5px;
  left: 33.56px;
  border-radius: 50px;
  background: #EEF0F3;
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 111 !important;
}

.InputDoteSuccess {
  cursor: pointer;
  width: 5.19px;
  height: 5px;
  left: 33.56px;
  border-radius: 50px;
  background: linear-gradient(180deg, #066C73 0%, rgba(6, 75, 115, 0) 100%);
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 111 !important;
}

.InputDoteLight {
  cursor: pointer;
  width: 5.19px;
  height: 5px;
  position: absolute;
  bottom: 20px;
  left: 18px;
  z-index: 111 !important;
}

/* Input (End) */

/* Button (Start) */
.mainButton {
  cursor: pointer;
  font-family: 'Default-2' !important;
  width: 100%;
  background: var(--rsbs-content-opacity);
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  transition: all 1s;
}

.mainBtnAuth {
  margin-top: 20px !important;
}

.mainBtnRegister {
  margin-top: 15px !important;
}

.BtnDisabled {
  width: 100%;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  transition: all 1s;
  background: #064b738f !important;
  font-family: 'Default-2' !important;
  color: white;
}


.mainButton:hover {
  font-family: 'Default-2' !important;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.2);
}

.Saew {
  font-size: 12px;
  color: #82a5b9b8;
}

.mainButton:active {
  font-family: 'Default-2' !important;
  background: #000000dc;
}

.ButtonLable {
  font-size: 16px;
}

/* Button (End) */


/* Resend Button (Start) */
.ResendMainButton {
  cursor: pointer;
  background: var(--rsbs-content-opacity-btn);
  color: white;
  text-align: center;
  padding: 4px;
  border-radius: 15px;
  transition: all 1s;
  font-family: 'Default-2';
  position: relative;
  left: -10px;
  box-shadow: 0px 4px 4px -2px #00000012;
}

.mainBtnAuth {
  margin-top: 20px !important;
}

.ResendBtnDisabled {
  cursor: pointer;
  background: var(--rsbs-content-opacity-btn);
  background: #fea05078 !important;
  text-align: center;
  padding: 4px;
  border-radius: 15px;
  transition: all 1s;
  color: white;
  font-family: 'Default-2';
  position: relative;
  left: -10px;
  box-shadow: 0px 4px 4px -2px #00000012;
}

.ResendMainButton:hover {
  background: #064B73;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.2);
}

.ResendMainButton:active {
  background: #000000dc;
}

.ButtonLable {
  font-size: 16px;
}

/* Resend Button (End) */

.SendNewCodeMain {
  display: inline-flex;
  background: #ffff;
  width: 95%;
  position: absolute;
  padding: 5px 20px;
  Top: -60px;
  height: 46px;
  border-radius: 20px;
}

.SendNewCodeMainEach {
  width: 100%;
}

/* ----------------------------------- (mrx) components styles (end) ----------------------------------- */


.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-20-register {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

/* ----------------------------------- (mrx) components styles ( start | Mobile Responsive ) ----------------------------------- */

@media screen and (max-width: 500px) {
  body {
    font-family: "Default" !important;
    margin: 0px !important;
    position: static !important;
    transform: none !important;
    background-color: var(--rsbs-content-opacity) !important;
  }

  .background {
    height: 100vh;
    max-width: 460px;
    margin: auto !important;
    border: unset !important;
    border-radius: 0px !important;
    overflow: unset !important;
  }
}

/* ----------------------------------- (mrx) components styles ( end | Mobile Responsive ) ----------------------------------- */


/* bottom sheet (Start) */

[data-rsbs-overlay] {
  border-top-left-radius: var(--rsbs-overlay-rounded);
  border-top-right-radius: var(--rsbs-overlay-rounded);
  display: flex;
  background: var(--rsbs-bg);
  flex-direction: column;
  height: var(--rsbs-overlay-h);
  transform: translate3d(0, var(--rsbs-overlay-translate-y), 0);
  will-change: height;
}

[data-rsbs-overlay]:focus {
  outline: none;
}

[data-rsbs-is-blocking="false"] [data-rsbs-overlay] {
  box-shadow: 0 -5px 60px 0 rgba(38, 89, 115, 0.11),
    0 -1px 0 rgba(38, 89, 115, 0.05);
}

[data-rsbs-overlay],
[data-rsbs-root]:after {
  max-width: var(--rsbs-max-w);
  margin-left: var(--rsbs-ml);
  margin-right: var(--rsbs-mr);
}

[data-rsbs-overlay],
[data-rsbs-backdrop],
[data-rsbs-root]:after {
  z-index: 3;
  overscroll-behavior: none;
  touch-action: none;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

[data-rsbs-backdrop] {
  top: -60px;
  bottom: -60px;
  background-color: var(--rsbs-backdrop-bg);
  will-change: opacity;
  cursor: pointer;
  opacity: 1;
}

[data-rsbs-is-dismissable="false"] [data-rsbs-backdrop] {
  cursor: ns-resize;
}

[data-rsbs-root]:after {
  content: "";
  pointer-events: none;
  background: var(--rsbs-bg);
  height: 1px;
  transform-origin: bottom;
  transform: scale3d(1, var(--rsbs-antigap-scale-y), 1);
  will-change: transform;
}

[data-rsbs-footer],
[data-rsbs-header] {
  flex-shrink: 0;
  cursor: ns-resize;
  padding: 16px;
}

[data-rsbs-header] {
  text-align: center;
  user-select: none;
  box-shadow: 0 1px 0 rgba(46, 59, 66, calc(var(--rsbs-content-opacity) * 0.125));
  z-index: 1;
  padding-top: calc(20px + env(safe-area-inset-top));
  padding-bottom: 8px;
}

[data-rsbs-header]:before {
  position: absolute;
  content: "";
  display: block;
  width: 36px;
  height: 4px;
  top: calc(12px + env(safe-area-inset-top));
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  background-color: var(--rsbs-handle-bg);
}

@media (min-resolution: 2dppx) {
  [data-rsbs-header]:before {
    transform: translateX(-50%) scaleY(0.75);
  }
}

[data-rsbs-has-header="false"] [data-rsbs-header] {
  box-shadow: none;
  padding-top: calc(12px + env(safe-area-inset-top));
}

[data-rsbs-scroll] {
  flex-shrink: 1;
  flex-grow: 1;
  -webkit-tap-highlight-color: revert;
  -webkit-touch-callout: revert;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  overflow: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

[data-rsbs-scroll]:focus {
  outline: none;
}

[data-rsbs-has-footer="false"] [data-rsbs-content] {
  padding-bottom: env(safe-area-inset-bottom);
}

[data-rsbs-content] {
  /* The overflow hidden is to ensure any margin on child nodes are included when the resize observer is measuring the height */
  overflow: hidden;
}

[data-rsbs-footer] {
  box-shadow: 0 -1px 0 rgba(46, 59, 66, calc(var(--rsbs-content-opacity) * 0.125)),
    0 2px 0 var(--rsbs-bg);
  overflow: hidden;
  z-index: 1;
  padding-bottom: calc(16px + env(safe-area-inset-bottom));
}

[data-rsbs-is-dismissable="true"],
[data-rsbs-is-dismissable="false"]:matches([data-rsbs-state="opening"], [data-rsbs-state="closing"]) {
  & :matches([data-rsbs-header], [data-rsbs-scroll], [data-rsbs-footer])>* {
    opacity: var(--rsbs-content-opacity);
  }

  & [data-rsbs-backdrop] {
    opacity: var(--rsbs-backdrop-opacity);
  }
}

[data-rsbs-state="closed"],
[data-rsbs-state="closing"] {
  /* Allows interactions on the rest of the page before the close transition is finished */
  pointer-events: none;
}

/* Bottom Sheet (End) */

.ArrowRightBtn {
  position: absolute !important;
  top: 6px !important;
  left: 6px !important;
}

.video {
  display: block !important;
}


.drawingBuffer {
  width: 260pt !important;
  border-radius: 20px !important;
  display: block;
  position: absolute !important;
  top: 60px !important;
}

.mainSelectBarcode {
  border: dashed 3px #074c7361;
  border-radius: 20px;
  text-align: center;
  padding: 30px;
  font-family: 'Default-2';
  letter-spacing: 5px;
}

.ForScanClickText {
  letter-spacing: 0;
  color: #b7b7b7;
}

video {
  width: 100%;
  border-radius: 20px;
}

.scanBarcodeMainWhite {
  /* margin-top: 555px !important; */
}

.MainScanBarcode {
  height: 31vh !important;
  position: absolute !important;
  bottom: -200px !important;
}

.scanBarcodeMainWhite2 {
  margin-top: -470px !important;
  height: 900px !important;
}

.mainImageIploaded {
  padding: 2px 5px !important;
  position: relative;

}

.trahPic {
  background: #064b73 !important;
  position: absolute !important;
  top: 3px !important;
  left: 2px !important;
  PADDING: 5PX !important;
  border-radius: 10px 0px 10px 0px !important;
  z-index: 111;
}

.trahPic2 {
  background: #ff6161 !important;
  position: absolute !important;
  top: 3px !important;
  left: 2px !important;
  PADDING: 5PX !important;
  border-radius: 10px 0px 10px 0px !important;
  z-index: 111;
}


.ImageUploaded {
  overflow: hidden !important;
  width: 100% !important;
  height: 130px !important;
  border: solid 2px #283e4b;
  background: #283e4b;
  border-radius: 15px !important;
}

.mainPic {
  border: 2px dashed rgb(229, 229, 229);
  border-radius: 20px;
  padding: 10px 10px;
  /* IE and Edge */
  max-height: 50vh !important;
  overflow: scroll !important;
  padding-bottom: 0px !important;
}

.mainPic::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  background-color: transparent;
}

.mainPic::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.mainPic::-webkit-scrollbar-thumb {
  background-color: #00000000;
}

.mainImageProductSingle {
  width: 100%;
}

.MainScanBarcode3 {
  margin-top: -400px !important;
  height: 800px !important;
}

.MainScanBarcode4 {
  margin-top: -70px !important;
  height: 500px !important;
}

.main2ImageProductSingle {
  overflow: hidden !important;
  height: 280px !important;
  border-radius: 20px !important;
  background: white !important;
  padding: 0px !important;
}

.producteachsingle {
  margin: 15px 5px !important;
  border-radius: 15px;
}

.mainAddBtn {
  position: fixed !important;
  bottom: 0px !important;
  right: 0px !important;
  padding: 15px !important;
  background: white;
  border-radius: 40px 2px 0px 2px;
}

.AddProductBtn{
  background-color: #074c73 !important;
  padding: 5px !important;
}

/* galexy s8 */
@media screen and (min-width:360px) and (max-height:740px) {
  .MainScanBarcode4 {
    margin-top: -75px !important;
  }

  .MainScanBarcode {
    height: 38vh !important;
    position: absolute !important;
    bottom: -200px !important;
  }

  .scanBarcodeMainWhite2 {
    margin-top: -440px !important;
  }

  .scanBarcodeMainWhite {
    /* margin-top: 475px !important; */
  }

  .drawingBuffer {
    width: 236pt !important;
    border-radius: 20px !important;
    display: block;
    position: relative;
    top: -195px;
  }
}

/* galexy s20 ultra */
@media screen and (min-width:412px) and (min-height:915px) {
  .MainScanBarcode4 {
    margin-top: -65px !important;
  }

  .MainScanBarcode {
    height: 27vh !important;
    position: absolute !important;
    bottom: -200px !important;
  }

  .scanBarcodeMainWhite2 {
    margin-top: -490px !important;
  }

  .scanBarcodeMainWhite {
    /* margin-top: 620px !important; */
  }

  .drawingBuffer {
    width: 276pt !important;
    border-radius: 20px !important;
    display: block;
    position: relative;
    top: -195px;
  }
}

/* galexy A51/71 */
@media screen and (min-width:412px) and (min-height:914px) {

  .MainScanBarcode4 {
    margin-top: -65px !important;
  }

  .MainScanBarcode {
    height: 27vh !important;
    position: absolute !important;
    bottom: -200px !important;
  }

  .scanBarcodeMainWhite2 {
    margin-top: -490px !important;
  }

  .scanBarcodeMainWhite {
    /* margin-top: 620px !important; */
  }

  .drawingBuffer {
    width: 276pt !important;
    border-radius: 20px !important;
    display: block;
    position: relative;
    top: -195px;
  }
}

/* galexy s5 */
@media screen and (min-width:360px) and (max-height:640px) {
  .MainScanBarcode4 {
    margin-top: -85px !important;
  }

  .MainScanBarcode {
    height: 46vh !important;
    position: absolute !important;
    bottom: -200px !important;
  }

  .scanBarcodeMainWhite {
    /* margin-top: 380px !important; */
  }

  .drawingBuffer {
    width: 235pt !important;
    border-radius: 20px !important;
    display: block;
    position: relative;
    top: -195px;
  }

  .CardPupUpTitle {
    font-size: 16px !important;
  }

  .mainButton {
    font-family: 'Default-2' !important;
    padding: 12px !important;
  }
}

/* iphone 6/7/8 - Plus */
@media screen and (max-width: 414px) and (max-height:736px) {

  .MainScanBarcode4 {
    margin-top: -85px !important;
  }

  .scanBarcodeMainWhite2 {
    margin-top: -420px !important;
  }

  .scanBarcodeMainWhite {
    /* margin-top: 395px !important; */
  }

  .MainScanBarcode {
    height: 44vh !important;
    position: absolute !important;
    bottom: -200px !important;
  }

  .drawingBuffer {
    width: 290pt !important;
    border-radius: 20px !important;
    display: block;
    position: relative;
    top: -195px;
  }
}

/* iphone 5s */
@media screen and (max-width: 320px) {

  .MainScanBarcode4 {
    margin-top: -85px !important;
  }

  .MainScanBarcode3 {
    margin-top: -360px !important;
  }

  .scanBarcodeMainWhite2 {
    margin-top: -370px !important;
  }

  .MainScanBarcode {
    height: 53vh !important;
    position: absolute !important;
    bottom: -200px !important;
  }

  .scanBarcodeMainWhite {
    /* margin-top: 330px !important; */
  }

  .mainButton {
    font-family: 'Default-2' !important;
    padding: 10px !important;
    border-radius: 8px !important;
  }

  .main2ImageProductSingle {
    height: 230px !important;
  }
}